<footer class="footer">
	<div class="container footer__container">
		<div class="footer__colums">
			<div class="footer__column">
				<h3 class="footer__title">про компанію</h3>
				<p>
					Компанія PORTEN – лідер на українському ринку годинників. На цей час
					ми об'єднуємо більше сорока магазинів у різних куточках України та
					інтернет-магазин, який став першим в нашому сегменті ринку. Торгова
					мережа PORTEN – офіційний дистриб'ютор більше 50 найвідоміших
					годинникових марок, починаючи від японської CASIO, закінчуючи
					швейцарськими LONGINES, ZENITH, TAG HEUER. Однак компанія не
					обмежується лише годинниками – в інтернет-магазині та бутіках мережі
					ви знайдете прекрасні ювелірні вироби від таких іменитих брендів, як
					SWAROVSKI и CHRISTINA.
				</p>
			</div>
			<div class="footer__column">
				<h3 class="footer__title">Категорії</h3>
				<ul>
					<li><a href="">годинники</a></li>
					<li><a href="">запонки</a></li>
					<li><a href="">ремені</a></li>
					<li><a href="">ювелірні вироби</a></li>
					<li><a href="">на замовлення</a></li>
					<li><a href="">браслети</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<h3 class="footer__title">розсилка</h3>
				<p>
					Компанія пропонує тільки оригінальну продукцію від найвідоміших
					світових брендів за найкращою ціною. Ми дбаємо про комфорт наших
					покупців і постійно розширюємо можливості сервісного обслуговування.
				</p>
				<form id="subscriptionForm">
					<input type="email" id="emailInput" placeholder="Ваша пошта" /><button
						onclick="validateEmail()"
						class="button"
					>
						ПІДПИСАТИСЯ
					</button>
					<div class="error-message" id="error-message"></div>
				</form>
			</div>
		</div>
		<div class="footer__bottom">
			<p>© 2022 PORTEN, Інтернет-магазин годинників</p>
			<a href="/">Угода користувача</a>
		</div>
	</div>
</footer>
