<header class="header">
	<div class="container">
		<div class="header__body">
			<a href="/" class="header__logo">
				<img src="@img/svg/logo.svg" alt="logo" />
			</a>
			<div class="menu">
				<nav>
					<ul>
						<li><a href="">сподобалось</a></li>
						<li><a href="">Особистий кабінет</a></li>
						<li><a href="">налаштування</a></li>
					</ul>
					<span>Працюємо 7 днів на тиждень | 9:00 — 18:00</span>
				</nav>
			</div>
			<div class="header__controls">
				<a class="control" href="/">
					<img src="@img/svg/cart.svg" alt="" />
				</a>
				<button class="control search-btn" href="/">
					<img src="@img/svg/search.svg" alt="" />
				</button>
				<div class="menu__icon" href="">
					<span></span>
				</div>
			</div>
		</div>
		<div class="search-popup">
			<form>
				<input type="text" placeholder="Знайти годинник..." />
				<button type="button" class="button">
					<img src="@img/svg/search.svg" alt="" /> Знайти
				</button>
			</form>
		</div>
	</div>
</header>
